<h1 id="archetype">Archetype</h1>
<blockquote>
<p>Archetype (n): 1. A symbol, pattern, or prototype upon which others are copied, patterned, or emulated; 2. A flexible, object oriented, Sass architecture for mobile-first, responsive builds with built in live style guide.</p>
</blockquote>
<p>Archetype is a front-end toolkit designed with the principles of <a href="https://github.com/stubbornella/oocss">OOCSS</a> and <a href="http://smacss.com">SMACSS</a> for building responsive, mobile-first front-ends using a specific <a href="https://github.com/Archetype-CSS/Archetype/blob/dev/style-guide/docs/README.md">coding standardard</a>. Archetype integrates <a href="https://github.com/trulia/hologram">Hologram</a> to automatically generate and update a project specific style guide and/or pattern library to facilitate style-guide-driven development, as well as encourage frequent testing and a performant front-end.</p>
<p>A specific implimentation of several open source projects.</p>
<ol type="1">
<li>Naming convention based on bem and <a href="https://github.com/stubbornella/oocss">OOCSS</a></li>
<li>Architecture based on <a href="http://smacss.com">SMACSS</a></li>
<li>Modular and distributed style sheet architecture built on bower, inspired by <a href="https://github.com/suitcss/suit">SUIT</a></li>
<li>Layout is treated as an enhancement</li>
<li>Integrated Style Guide using <a href="https://github.com/trulia/hologram">Hologram</a></li>
<li>Test driven</li>
<li>Built with <a href="http://bower.io">Grunt</a></li>
</ol>
<h2 id="dependencies">Dependencies</h2>
<p>Dependencies are managed with <a href="http://bower.io">bower</a>. The following are installed via <code>bower install</code>.</p>
<ul>
<li><a href="https:github.com/Archetype-CSS/Archetype-u-colorkit">Archetype-u-colorkit</a></li>
<li><a href="https:github.com/Archetype-CSS/Archetype-c-typography">Archetype-c-typography</a></li>
<li><a href="https:github.com/Archetype-CSS/Archetype-u-normalize">Archetype-u-normalize</a></li>
<li><a href="https:github.com/Archetype-CSS/Archetype-u-componentConstructor">Archetype-u-componentConstructor</a></li>
</ul>
<h3 id="third-party-dependencies">Third Party Dependencies</h3>
<ul>
<li><a href="http://susy.oddbird.net">Susy</a></li>
<li><a href="https://github.com/Team-Sass/breakpoint">Breakpoint</a></li>
<li><a href="http://compass-style.org/">Compass</a></li>
<li><a href="https://github.com/Team-Sass/modular-scale">Modular Scale</a></li>
<li><a href="https://github.com/Team-Sass/Sassy-math">Sassy Math</a></li>
<li><a href="http://modernizr.com">Modernizr</a></li>
</ul>
<hr />
<h3 id="license">License</h3>
<p>Original source code licensed under <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>. Open-sourced projects used within this project retain their original licenses.</p>
