<nav class="nav--slide">

  <h3><a href="styleguide.html">Docs</a></h3>
    <ul>
      <li><a ui-sref="#">Front End Design Principles</a></li>
      <li><a ui-sref="componentAPI.html">Component API</a></li>
      <li><a ui-sref="colorpallet.html">Color-Pallet</a></li>
    </ul>

  <ul>
    <li><a ui-sref="main.html">main.scss</a></li>
  </ul>

  <h3><a ui-sref="./utilities.html">Utilities</a></h3>
  <ul>
    <li><a ui-sref="#/u-colorkit">Colorkit</a></li>
  </ul>

  <h3><a ui-sref="#/objects">Objects</a></h3>
  <ul>
    <li><a ui-sref="#/objects/o-partition">Partition Object</a></li>
    <li><a ui-sref="#/objects/o-button">Button Object</a></li>
    <li><a ui-sref="#/objects/o-alert">Alert Object</a></li>
    <li><a ui-sref="#/objects/o-nav">Nav-Object</a></li>
    <li><a ui-sref="#/objects/o-media">Media-Object</a></li>
    <li><a ui-sref="#/objects/o-close">Close-Object</a></li>
    <li><a ui-sref="#/objects/o-label">Label-Object</a></li>
  </ul>

  <h3><a ui-sref="components">Components</a></h3>
  <ul>
    <li><a ui-sref="#/components/c-typography">Typography</a></li>
    <li><a ui-sref="#/components/c-page">Page</a></li>
    <li><a ui-sref="#/components/c-spacers">Spacers</a></li>
    <li><a ui-sref="#/components/c-quotes">Quotes</a></li>
    <li><a ui-sref="#/components/c-tables">Tables</a></li>
    <li><a ui-sref="#/components/c-rules">Rules</a></li>
    <li><a ui-sref="#/components/c-lists">Lists</a></li>
    <li><a ui-sref="#/components/c-links">Links</a></li>
    <li><a ui-sref="#/components/c-figures">Figures</a></li>
    <li><a ui-sref="#/components/c-code">Code</a></li>
    <li><a ui-sref="#/components/c-media">Media</a></li>
    <li><a ui-sref="#/components/c-forms">Forms</a></li>
    <li><a ui-sref="#/components/c-buttons">Buttons</a></li>
    <li><a ui-sref="#/components/c-close">Close</a></li>
    <li><a ui-sref="#/components/c-alerts">Alerts</a></li>
    <li><a ui-sref="#/components/c-tabs">Tabs</a></li>
    <li><a ui-sref="#/components/c-partitions">Partitions</a></li>
    <li><a ui-sref="#/components/c-labels">Labels</a></li>
    <li><a ui-sref="#/components/c-icons">Icons</a></li>
  </ul>

  <h3><a ui-sref="./layout.html">Layout</a></h3>
  <ul>
    <li><a ui-sref="./breakpoints.html">Breakpoints</a></li>
  </ul>

  <h3><a ui-sref="./tests.html">Tests</a></h3>
</nav>   


