<h3><a ui-sref="components">Components</a></h3>
  <ul>
    <li><a ui-sref=".c-typography">Typography</a></li>
    <li><a ui-sref=".c-page">Page</a></li>
    <li><a ui-sref=".c-spacers">Spacers</a></li>
    <li><a ui-sref=".c-quotes">Quotes</a></li>
    <li><a ui-sref=".c-tables">Tables</a></li>
    <li><a ui-sref=".c-rules">Rules</a></li>
    <li><a ui-sref=".c-lists">Lists</a></li>
    <li><a ui-sref=".c-links">Links</a></li>
    <li><a ui-sref=".c-figures">Figures</a></li>
    <li><a ui-sref=".c-code">Code</a></li>
    <li><a ui-sref=".c-media">Media</a></li>
    <li><a ui-sref=".c-forms">Forms</a></li>
    <li><a ui-sref=".c-buttons">Buttons</a></li>
    <li><a ui-sref=".c-close">Close</a></li>
    <li><a ui-sref=".c-alerts">Alerts</a></li>
    <li><a ui-sref=".c-tabs">Tabs</a></li>
    <li><a ui-sref=".c-partitions">Partitions</a></li>
    <li><a ui-sref=".c-labels">Labels</a></li>
    <li><a ui-sref=".c-icons">Icons</a></li>
  </ul>

  <!--
  <ul>
  <li><a class="list-group-item"
    ng-repeat="component in components"
    ng-class="{active: component.selected}"
    ng-href="#/components/{{component.name}}"
    ng-click="selectComponent(component)">{{component.name}}</a></li>
  </ul>
  -->
  <div ui-view></div>

