<!DOCTYPE html>
<html
  id="ng-app"
  lang="en-us"
  class="no-js"
  ng-app="archetype">

<head>
  <title>archetype</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/css/styles-23819be6.css">
  <script src="/javascripts/vendor-e099425d.js"></script>
  <script src="/javascripts/app-8712ce84.js"></script>
</head>

<body>

<!-- Only show if JS DISABLED -->
<noscript>
  <div class="alert alert-danger javascript-disabled">
    JavaScript is disabled.
  </div>
</noscript>

<div ui-view></div>

</body>

</html>
